@font-face {
    font-family: AudiType-Normal;
    src: local("AudiType-Normal"), url(../fonts/AudiType-Normal.woff2) format("woff2"), url(../fonts/AudiType-Normal.woff) format("woff"), url(../fonts/AudiType-Normal.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: AudiType-Bold;
    src: local("AudiType-Bold"), url(../fonts/AudiType-Bold.woff2) format("woff2"), url(../fonts/AudiType-Bold.woff) format("woff"), url(../fonts/AudiType-Bold.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: AudiType-ExtendedNormal;
    src: local("AudiType-ExtendedNormal"), url(../fonts/AudiType-ExtendedNormal.woff2) format("woff2"), url(../fonts/AudiType-ExtendedNormal.woff) format("woff"), url(../fonts/AudiType-ExtendedNormal.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: AudiType-ExtendedBold;
    src: local("AudiType-ExtendedBold"), url(../fonts/AudiType-ExtendedBold.woff2) format("woff2"), url(../fonts/AudiType-ExtendedBold.woff) format("woff"), url(../fonts/AudiType-ExtendedBold.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: AudiType-WideNormal;
    src: local("AudiType-WideNormal"), url(../fonts/AudiType-WideNormal.woff2) format("woff2"), url(../fonts/AudiType-WideNormal.woff) format("woff"), url(../fonts/AudiType-WideNormal.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: AudiType-WideBold;
    src: local("AudiType-WideBold"), url(../fonts/AudiType-WideBold.woff2) format("woff2"), url(../fonts/AudiType-WideBold.woff) format("woff"), url(../fonts/AudiType-WideBold.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}
body{
    margin:0;
    padding:0;
    font-family: 'Bai Jamjuree', sans-serif;
}
button{
    padding: 1rem 4rem !important;
}
.slider {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
}
.slider video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1; /* make sure it's under the video */
}

.slider .content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.slider .content h1{
    font-weight: 600;
    font-size: 3rem;
}

@media screen and (min-width: 576px ) {
    .slider .content h1{
        font-size: 3rem;
    }
}

.slider .content h5{
    font-size: 1.3rem;
    font-weight: 400;
}
.slider .content button:hover{
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

nav.navbar{
    background-color: #5751511b !important;
}

nav.navbar .navbar-nav{
    font-size: 1.1rem;
}
nav.navbar .btn-search{
    font-size: 1.3rem;
}
nav.navbar .navbar-toggler{
    border:0;
    font-size: 1.1rem
}
nav.navbar .toolbar{
    display: flex;
    align-items: center;
    gap:20px;
}
nav.navbar .toolbar img{
    width:30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
nav.navbar .toolbar .v-line{
    width: 1px;
    background-color: #fff;
    height: 70%;
    display: inline-block;
}
nav.navbar .toolbar .lang{
    display: flex;
    align-items: center;
    gap:10px;
}
nav.navbar .toolbar .lang ul{
    list-style-type: none;
    padding: 0;
    margin:0;
    font-size: 0.8rem;
}
.topics{
    margin-top: 100px;
}
.topics h2{
    text-align: center;
    margin-bottom: 30px;
}
.card.zoom{
    overflow: hidden;
}
.card.zoom img{
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card.zoom:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    position: relative;
    z-index: 0;
}
.card.zoom .card-img{
    position: relative;
}
.card.zoom .card-img::before{
    content: "";
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
}
.card.zoom:hover .card-img::before{
   content: "";
   position: absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background-color: rgba(0, 0, 0, 0.591);
   z-index: 3;
}

.card.zoom .card-subtitle{
    font-size: 0.7rem;
    color: #222121;
}

.card.zoom .card-title{
    font-size:1.7rem;
    font-family: AudiType-Normal;
}

.properties{
    margin-top:150px;
}
.properties .row [class^="col-"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.properties .row:last-child{
    margin-top:150px;
}
.properties h3{
    font-family: AudiType-ExtendedNormal;
}
.properties p{
    font-family: AudiType-WideNormal;
}

.properties .footnote{
    margin-top:20px;
    font-size: 0.7rem;
}
footer{
    background-color: #000;
    padding:40px 0;
    color:rgb(216, 216, 216);
}
footer a{
    color: rgb(216, 216, 216);
    text-decoration: none;
    font-size: 0.8rem;
}
footer h3{
    font-family: AudiType-ExtendedNormal;
    font-size: 1.4rem;
}
footer ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    gap:20px;
    
}
footer .social{
    justify-content: flex-end;
}
footer .social ul{
    flex-direction: row;
    justify-content: flex-end;
}
footer .social a{
    font-size:2rem;
}